@model FluentFaster.Models.Game

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="~/css/main-page.css" asp-append-version="true">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@Model.GameName</title>
</head>
<body>
    <div class="lessons">
        <div class="container">
            @if (Model.GrammarTopics.Any())
            {
                <table class="lessons-table">
                    <tbody>
                        @{
                            int columns = 3;
                            int count = 0;
                        }
                        @foreach (var topic in Model.GrammarTopics)
                        {
                            if (count % columns == 0)
                            {
                                @:<tr>
                            }
                            <td>
                                <a href="@Url.Action("TopicDetails", "LearnGrammar", new { id = topic.TopicID })" class="card-link">
                                    <div class="card">
                                        <div class="lesson-title">
                                            @topic.TopicName
                                        </div>
                                    </div>
                                </a>
                            </td>
                            count++;
                            if (count % columns == 0)
                            {
                                @:</tr>
                            }
                        }
                        @if (count % columns != 0)
                        {
                            @:</tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <p>In development</p>
            }
        </div>
    </div>
</body>
</html>
