@model IEnumerable<FluentFaster.Models.Game>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="~/css/main-page.css" asp-append-version="true" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300..800&display=swap" rel="stylesheet">
    <title>FluentLab</title>
</head>
<body>
    <div class="lessons">
        <div class="container">
            @if (Model.Any())
            {
                <table class="lessons-table">
                    <tbody>
                        @{
                            int columns = 3;
                            int count = 0;
                        }
                        @foreach (var game in Model)
                        {
                            if (count % columns == 0)
                            {
                                @:<tr>
                            }
                            <td>
                                <a href="@Url.Action("GameDetails", "Home", new { id = game.GameID })" class="card-link">
                                    <div class="card">
                                        <div class="lesson-title">
                                            @game.GameName
                                        </div>
                                    </div>
                                </a>
                            </td>
                            count++;
                            if (count % columns == 0)
                            {
                                @:</tr>
                            }
                        }
                        @if (count % columns != 0)
                        {
                            @:</tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <p>In development</p>
            }
        </div>
    </div>
</body>
</html>
