<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Future Simple</title>
    <link rel="stylesheet" href="~/css/learn-grammar/future-simple.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>So / Such</h1>
        <table>
            <tr class="row1">
                <td class="first-column">So</td>
                <td class="first-column">So + adjective</td>
                <td class="first-column">Meaning = very<br>(positive or negative situations)</td>
                <td class="first-column">
                    1. That food was <span>so</span> delicious.<br>
                    2. My coworkers are <span>so</span> nice.<br>
                    3. That smell was <span>so</span> awful.<br>
                    4. It is <span>so</span> cold today.
                </td>
            </tr>
            <tr class="row2">
                <td class="first-column">Such</td>
                <td class="first-column">Such (+ article) + adjective + noun</td>
                <td class="first-column">Meaning = very<br>(positive or negative situations)</td>
                <td class="first-column">
                    1. That was <span>such</span> delicious food.<br>
                    2. My coworkers are <span>such</span> nice people.<br>
                    3. That was <span>such</span> an awful smell.<br>
                    4. It is <span>such</span> cold day.
                </td>
            </tr>
        </table>
        <div class="button-container">
            <a href="@Url.Action("TestDetails", "LearnGrammar", new { id = Model.TopicID })" class="btn btn-primary">Start Test</a>
        </div>
    </div>
</body>
</html>
