@using Microsoft.AspNetCore.Identity
@inject SignInManager<Users> signInManager

<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="~/images/user.png" class="icon" alt="User Icon" />
    </a>
    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
        @if (signInManager.IsSignedIn(User))
        {
            <li><a class="dropdown-item" asp-controller="Account" asp-action="Logout">Logout</a></li>
        }
        else
        {
            <li><a class="dropdown-item" asp-controller="Account" asp-action="Login">Login</a></li>
            <li><a class="dropdown-item" asp-controller="Account" asp-action="Register">Register</a></li>
        }
    </ul>
</li>
